.about {
  background-color: $color_empty;
}

.about__wrapper {
  width: $wrapper-mobile;
  margin-left: auto;
  margin-right: auto;
}

.about__title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 36px;
  font-family: $font_promo;
  color: $black;
  line-height: 1.667;
  text-align: left;
  font-weight: normal;
}

.about__list {
  margin-bottom: 40px;

  @include ul_reset;
}

.about__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;
  font-size: 14px;
  font-family: $font_standard;
  color: $grey_dark;
  line-height: 1.286;
  text-align: left;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 60px;
    height: 60px;
    content: "";
    background-color: $green_light;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--function::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--type::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--change::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .about__item {
    &::before {
      background-size: 50px 50px;
    }

    &--function::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--type::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--change::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--time::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: 768px) {
  .about {
    border-bottom: 1px solid $grey_light;
  }

  .about__list li:nth-last-child(1),
  .about__list li:nth-last-child(2) {
    margin-bottom: 64px;
  }

  .about__wrapper {
    width: $wrapper-tablet;
  }

  .about__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 74px;
  }

  .about__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about__item {
    width: 46%;
    padding-left: 0;
    margin-bottom: 134px;
    padding-right: 100px;
    padding-top: 110px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    z-index: 10;

    &::before {
      width: 80px;
      height: 80px;
      top: 0;
      transform: none;
    }

    &::after {
      position: absolute;
      font-size: 280px;
      color: #f2f2f2;
      right: 86px;
      top: -35px;
      line-height: 1;
      z-index: -10;
      font-family: $font_promo;
    }

    &:nth-child(1)::after {
      content: "1";
    }

    &:nth-child(2)::after {
      content: "2";
    }

    &:nth-child(3)::after {
      content: "3";
    }

    &:nth-child(4)::after {
      content: "4";
    }
  }
}

@media (min-width: 1440px) {
  .about {
    border-bottom: none;
  }

  .about__wrapper {
    width: $wrapper-desktop;
  }

  .about__item {
    width: 245px;
    padding-right: 0;

    &::after {
      right: 5px;
    }
  }

  .about__title {
    margin-bottom: 74px;
  }

  .about__list {
    margin-bottom: 0;
  }
}

