.additional {
  @include ul_reset;
  margin-bottom: 0;
  margin-top: 0;
}

.additional__item {
  padding-bottom: 16px;
  border-bottom: 1px solid $grey_light;
}

.additional__item:nth-child(1) {
  border-top: 1px solid $grey_light;
}

.additional__title {
  font-size: 16px;
  font-family: $font_promo;
  color: $black;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
}

.additional__info {
  font-size: 14px;
  font-family: $font_standard;
  color: $grey_dark;
  line-height: 1;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

.additional__size {
  text-align: left;

}

.additional__price {
  text-align: right;
}

.additional__btn {
  height: 40px;
}

@media (min-width: 768px) {
  .additional__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid $grey_light;
    padding: 26px 36px;
  }

  .additional__title {
    font-size: 20px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .additional__info {
    font-size: 16px;
    line-height: 1.25;
    width: auto;
    margin-bottom: 24px;
  }

  .additional__btn {
    width: 100%;
  }

  .additional__size {
    padding-right: 52px;
  }
}

@media (min-width: 1300px) {
  .additional {
    width: 895px;
  }

  .additional__item {
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
  }

  .additional__btn {
    width: 245px;
  }

  .additional__title {
    width: 245px;
    margin-bottom: 0;
  }

  .additional__info {
    margin-bottom: 0;
    width: 285px;
    margin-left: 40px;
  }
}
