.bottom {
  background-color: $grey_light;
}

.bottom__wrapper {
  width: $wrapper-mobile;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
  padding-bottom: 20px;
}

.bottom__description {
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  display: block;
  width: 100%;
  height: 24px;
  margin-bottom: 30px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.bottom__social {
  border-top: 1px solid $grey_dark;
  border-bottom: 1px solid $grey_dark;
  padding-top: 20px;
  padding-bottom: 15px;
}

.bottom__copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .bottom__wrapper {
    width: $wrapper_tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
  }

  .bottom__description {
    width: 132px;
    margin-bottom: 0;
  }

  .bottom__social {
    all: unset;
    margin-left: 25px;
    border-top: none;
    border-bottom: none;
  }

  .bottom__copyright {
    all: unset;
  }
}

@media (min-width: 1300px) {
  .bottom__wrapper {
    width: $wrapper_desktop;
    padding-bottom: 62px;
    padding-top: 52px;
  }

  .bottom__social {
    margin-left: 28px;
  }
}
