.buyer {
  all: unset;
  padding-bottom: 15px;
  width: $wrapper_mobile;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.buyer__label {
  font-size: 16px;
  font-family: $font_promo;
  color: $black;
  text-transform: uppercase;
  line-height: 1.125;
  text-align: left;
  white-space: nowrap;
  margin-right: 15px;
}

.buyer__input-text {
  padding: 14px;
  flex-grow: 1;
  width: 100%;
  border: 1px solid $grey_light;
  box-sizing: border-box;

  &:active,
  &:focus {
    border: 1px solid $black;
  }

  &:invalid {
    border: 1px solid #ff8282;
  }
}

.buyer__input-text[placeholder] {
  font-size: 16px;
  font-family: $font_promo;
  color: $grey_dark;
  text-transform: uppercase;
  line-height: 1.125;
  text-align: left;
}

.buyer__icon {
  position: relative;
  width: 100%;
}

.buyer__email {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.buyer__phone {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.buyer__input-text:active + .buyer__email,
.buyer__input-text:active + .buyer__phone,
.buyer__input-text:focus + .buyer__email,
.buyer__input-text:focus + .buyer__phone {
  fill: $green_light;
}

.buyer__input-text:invalid + .buyer__email,
.buyer__input-text:invalid + .buyer__phone {
  fill: #ff8282;
}

@media (min-width: 768px) {
  .buyer {
    margin-bottom: 50px;
    width: 100%;
  }

  .buyer__label {
    font-size: 20px;
  }

  .buyer__input-text[placeholder] {
    font-size: 20px;
  }
}

@media (min-width: 1300px) {
  .buyer {
    display: flex;
    justify-content: space-between;
    width: $wrapper_desktop;
  }

  .buyer .choice__input-wrapper {
    width: 570px;
  }
}
