.catalog__wrapper {
  width: $wrapper_mobile;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.catalog__list {
  @include ul_reset;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .catalog__wrapper {
    width: $wrapper_tablet;
  }

  .catalog__list {
    width: $wrapper_tablet;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 170px;
  }
}

@media (min-width: 1440px) {
  .catalog__wrapper {
    width: $wrapper_desktop;
  }

  .catalog__list {
    width: $wrapper_desktop;
  }
}
