.choice__wrapper {
  width: $wrapper_mobile;
  margin-left: auto;
  margin-right: auto;
}

.choice__text {
  font-size: 14px;
  font-family: $font_promo;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0;
}

.choice__input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.choice__radio-wrapper {
  margin-bottom: 25px;
}

.choice__message {
  all: unset;
  border: 1px solid $grey_light;
  padding: 15px;
}

.choice__message[placeholder] {
  font-size: 16px;
  font-family: $font_promo;
  color: $grey_dark;
  text-transform: uppercase;
  line-height: 1.125;
  text-align: left;
  width: 100%;
}

.choice__btn {
  width: 100%;
}

.choice__necessary {
  font-size: 14px;
  font-family: $font_standard;
  color: $grey_dark;
  line-height: 1.143;
  text-align: center;
  margin: 20px 0px;
}
