.logo-header {
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  width: 191px;
  height: 38px;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .logo-header {
    background-image: url("../img/logo-tablet.svg");
    width: 173px;
    height: 58px;
  }
}

@media (min-width: 1300px) {
  .logo-header {
    background-image: url("../img/logo-desktop.svg");
    width: 202px;
    height: 59px;
  }
}
