.main-nav {
  width: 100%;
  margin-top: 15px;
}

.main-nav__list {
  @include ul_reset;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-nav {
    all: unset;
    flex-grow: 1;
  }

  .main-nav__list {
    flex-direction: row;
    padding-top: 0;
    border-top: none;
    justify-content: right;
  }
}

@media (min-width: 1440px) {

  .main-nav__list--index .menu-list__item--active {
    border-bottom: 2px solid white;
  }
}
