.more {
  padding-bottom: 25px;
  border-bottom: 1px solid $grey_light;
  padding-top: 50px;
}

.more__wrapper {
  width: $wrapper_mobile;
  margin-left: auto;
  margin-right: auto;
}

.more__title {
  font-size: 16px;
  font-family: $font_promo;
  color: $black;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
  position: relative;

  &::before {
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
  }
}

.more__text {
  font-size: 12px;
  font-family: $font_standard;
  color: $grey_dark;
  line-height: 1.333;
  text-align: center;
  margin-bottom: 25px;
}

.more__btn {
  font-size: 16px;
  line-height: 1.25;
}
