.more {
  padding-bottom: 25px;
  border: 1px solid $grey_light;
  padding-top: 62px;
}

.more__wrapper {
  width: $wrapper_mobile;
  margin-left: auto;
  margin-right: auto;
}

.more__title {
  font-size: 16px;
  font-family: $font_promo;
  color: $black;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
  position: relative;
  margin-bottom: 10px;

  &::before {
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
  }
}

.more__text {
  font-size: 12px;
  font-family: $font_standard;
  color: $grey_dark;
  line-height: 1.333;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 0;
}

.more__btn {
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 768px) {
  .more {
    width: 324px;
    padding-bottom: 38px;
    padding-top: 0;
  }

  .more__title {
    font-size: 20px;
    line-height: 1;
    padding: 0 70px;
    margin-bottom: 30px;
    padding-top: 164px;
    margin-top: 0;

    &::before {
      width: 60px;
      height: 60px;
      top: 50px;
    }
  }

  .more__text {
    padding: 0 50px;
    font-size: 16px;
    line-height: 1.2;
  }

  .more__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .more__btn {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 249px;
  }
}

@media (min-width: 1300px) {
  .more {
    width: 245px;
  }

  .more__wrapper {
    width: 169px;
  }

  .more__title {
    padding-left: 10px;
    padding-right: 10px;
  }

  .more__text {
    padding-left: 0;
    padding-right: 0;
  }

  .more__btn {
    width: 169px;
  }
}
