.slider {

}

.slider__wrapper {
  z-index: 100;
}

.slider__time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 280px;
}

.slider__img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.slider__img-after {
  display: none;
}

.slider__img-before, .slider__img-after {
  width: 320px;
  position: absolute;
  margin-left: -20px;
}

@media (min-width: 768px) {

  .slider {
    background-color: $grey_light;
    position: relative;
  }

  .slider__wrapper {
    width: $wrapper-tablet;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 460px;
  }

  .slider__img {
    width: auto;
  }

  .slider__time {
    padding-top: 360px;
  }

  .slider__img-before {
    overflow-x: hidden;
    width: 50%;
    position: absolute;
    top: -170px;
    z-index: 200;
    margin-left: 0;
  }

  .slider__img-after {
    overflow-x: hidden;
    width: 50%;
    position: absolute;
    top: -170px;
    z-index: 100;
    right: 0;
    display: block;
    margin-left: 0;
  }

  .slider__img-after img {
    transform: translateX(-50%);
  }

  .slider::after {
    content: "";
    right: 0;
    bottom: 0;
    background-color: #eaeaea;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(50%);
  }
}

@media (min-width: 1300px) {
  .slider {
    width: 690px;
    margin-right: 0;
    position: relative;
  }

  .slider::after {
    content: "";
    right: 0;
    bottom: 0;
    background-color: #eaeaea;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(50%);
  }

  .slider__wrapper {
    width: 100%;
  }
}
