.social__list {
  @include ul_reset;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.social__item:nth-child(2) {
  margin-left: 25px;
  margin-right: 25px;
}

@media (min-width: 768px) {
  .social__item--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__item--inst svg {
    width: 23px;
    height: 23px;
  }

  .social__item--fb svg {
    width: 14px;
    height: 28px;
  }

  .social__item {
    width: 30px;
    height: 50px;
  }

  .social__item:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
