.stat__wrapper {
  border: 1px solid #cdcdcd;
  position: relative;
  width: 125px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.stat__number {
  font-size: 24px;
  font-family: $font_promo;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.stat__description {
  font-size: 12px;
  font-family: $font_standard;
  color: $grey_dark;
  line-height: 1;
  text-align: center;
  position: absolute;
  background-color: $grey_light;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
}

.stat__cost {
  font-size: 14px;
  font-family: $font_promo;
  color: $black;
  text-transform: uppercase;
  line-height: 1.429;
  margin-top: 35px;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .stat__number {
    font-size: 30px;
  }

  .stat__description {
    font-size: 14px;
    background-color: $color_empty;
    bottom: -6px;
    white-space: nowrap;
    padding: 0 5px;
  }

  .stat__cost {
    font-size: 20px;
    width: 182px;
    text-align: right;
    margin-top: 0;
    margin-left: auto;
  }

  .stat__wrapper {
    width: 162px;
    margin-right: 42px;
  }
}

@media (min-width: 1300px) {
  .stat__cost {
    width: 100%;
    text-align: left;
    margin-top: 58px;
  }

  .stat__description {
    background-color: $grey_light;
  }

  .stat__price {
    margin-left: 60px;
  }
}
