.top {
  background-color: $color_empty;
  padding: 12px 0;
  border-bottom: 1px solid $grey_light;
}

.top__wrapper {
  width: $wrapper_mobile;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top__menu-toggle {
  all: unset;
  background-image: url("../img/mobile-menu.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  width: 24px;
  height: 18px;

  &--opened {
    background-image: url("../img/m-close.svg");
  }
}

.top__menu-toggle--closed ~ .main-nav {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 768px) {
  .top {
    width: $wrapper_tablet;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    padding-top: 25px;
    margin-bottom: 45px;
  }

  .top__wrapper {
    width: unset;
  }

  .top__menu-toggle {
    display: none;
  }
}

@media (min-width: 1440px) {
  .top {
    width: $wrapper_desktop;
    position: relative;
    z-index: 100;
    background-color: unset;
    padding-top: 52px;
    margin-bottom: 60px;
  }
}
