$font_promo: "Oswald", "Arial", sans-serif;

$font_standard: "Arial", "Tahoma", sans-serif;

$color_empty: white;

$green_light: #68b738;

$green_dark: #5eaa2f;

$grey_light: #f2f2f2;

$grey_medium: #ebebeb;

$grey_dark: #444444;

$black: #111111;

$red_light: #ff8282;

$opacity_medium: 60%;

$opacity_light: 30%;

$wrapper_mobile: 280px;
